#myCanvas{
    border-radius: 50px;
    background-color:white;
    border-style: ridge;
}
.background_body{
    background-image: url("avenger_bg.jpg");
}
h2{
    background-color: blue;
    border-radius: 10px;
    width: 200px;
    color: white;
}
h3{
    display: inline-block;
}
span{
    color:black;
}
#head_info{
    width: 600px;
    border-radius: 10px;
    margin-bottom: 10px;
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}